<div class="main-content" style="overflow: hidden;">

  <!-- <a (click)="verOrdenActual(modalOrden)" *ngIf="homeDatos.compraOrden != null" class="float_ordenes">
    <img src="./assets/img/icons/common/orden.png">
    Orden En Curso
  </a> -->

  <a target='_blank' href="https://api.whatsapp.com/send?phone=+573205643849&text=Hola!%20Tu%20Orden,%20necesito%20tu%20ayuda!" class="float">
    <img src="./assets/img/icons/common/contacto-whatsapp.png" width="100%" height="100%">
    <!-- <h2 style="color: red;">Soporte</h2> -->
  </a>

  <a *ngIf="homeDatos.compraOrden != null" target='_blank' (click)="verOrdenActual(modalOrden)" class="float_right">
    <img src="./assets/img/icons/common/orden.png" width="100%" height="100%">
    <!-- <h2 style="color: red;">Soporte</h2> -->
  </a>

    <div class="row">
        <div class="col">
          <app-header></app-header>
        </div>

        <div class="col-auto">
          <div class="col-1 col-md-1 mt-1">

            <ul *ngIf="usuario != null"
                class="navbar-nav align-items-center d-md-flex"
                (click)="visualizarCarrito()">
              <li class="nav-item" ngbDropdown placement="bottom-right">
                <ng-template #popContent><label class="text-center"><b>({{ cantidadPopover }})</b> {{mensajePopover}} <b>{{ (cantidadPopover * valorPopover) | currency: 'COP':'$':'1.0'}}</b></label></ng-template>
                <ng-template #popTitle><b>Producto Agregado</b></ng-template>
                <a class="nav-link pr-0" role="button"
                    #carrito="ngbPopover"
                    [ngbPopover]="popContent"
                    [popoverTitle]="popTitle"
                    container="body"
                    [closeDelay]="300"
                    [openDelay]="300"
                    triggers="non-manual">
                  <div class="media align-items-center">
                    <span class="avatar avatar-sm rounded-circle">
                      <i class="fas fa-shopping-basket"></i>
                    </span>
                    <span class='badge badge-warning' id='lblCartCount'>
                     {{ homeDatos.cantidadCarrito }}
                    </span>
                  </div>
                </a>
              </li>
            </ul>

          </div>
        </div>
    </div>
    <app-home #homeDatos (carrito)="mostrarProductoAgregado($event, carrito)"></app-home>
    <app-footer></app-footer>

</div>

<ng-template #modalOrden let-modalOrden>

  <div class="modal-body no_padding">
    <div class="header color_principal py-5 py-5">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
              <div class="text-right">
                <button class="btn btn-lg btn-icon btn-close" (click)="modalOrden.close(); verificarOrden(false, modalOrden);">
                  <span class="btn-inner--icon">
                      <i class="far fa-times-circle fa-2x" style="color: white;"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-2">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="card bg-secondary shadow border-0">

            <div class="card-header bg-transparent pb-2">
              <div class="row">
                <h3 class="justify-content-center">Orden</h3>
            </div>
          </div>

          <div class="card-body px-lg-5 py-lg-5">

            <!--  Mapa -->
            <div class="row">
              <div class="container">
              <agm-map [latitude]="sede_latitude" [longitude]="sede_longitude" [fitBounds]="true" [mapTypeControl]="false">
                <agm-marker [latitude]="sede_latitude" [longitude]="sede_longitude" [agmFitBounds]="true" [markerDraggable]="false" [iconUrl]='{"url": "../assets/img/icons/common/shop.svg","scaledSize": {"height": 30, "width": 30}}'></agm-marker>
                <agm-marker  *ngIf="homeDatos.compraOrden.estado > 2 && homeDatos.compraOrden.estado < 6" [latitude]="picker_latitude" [longitude]="picker_longitude" [agmFitBounds]="true" [markerDraggable]="false" [iconUrl]='{"url": "../assets/img/icons/common/delivery.svg","scaledSize": {"height": 30, "width": 30}}'></agm-marker>
                <agm-marker [latitude]="orden_latitude" [longitude]="orden_longitude" [agmFitBounds]="true" [markerDraggable]="false" [iconUrl]='{"url": "../assets/img/icons/common/home-run.svg","scaledSize": {"height": 30, "width": 30}}'></agm-marker>
              </agm-map>
              </div>
            </div>

            <!-- Comercio -->
            <div class="row mr-3 ml-3 mb-2 mt-2 justify-content-center">

                <div col="col-md-12 col-md-offset-2 col-sm-12">
                  <img class="rounded-circle" src="https://tuorden.com.co/web/image_proveedor/img-big-{{homeDatos.compraOrden.proveedor_id}}.png"  height="80%" width="45%" alt="{{homeDatos.compraOrden.proveedor_nombre}}">
                </div>

                <div col="col-md-12 col-md-offset-2 col-sm-12">
                    <h2>{{ homeDatos.compraOrden.proveedor_nombre }}</h2>
                </div>

            </div>

            <!-- Picker -->
            <div class="col-md-12 col-md-offset-2 col-sm-12">
                <div class="col-12 text-center">
                    {{homeDatos.compraOrden.estado_entrega_picker_txt}}
                </div>
            </div>
            <hr>

            <!-- Productos -->
            <div class="row mb-1 mt-1" *ngFor="let producto of homeDatos.compraOrden.productos">

              <div class="col-6 col-md-6 col-sm-6">
                <b>{{ producto.nombre}}</b>
                <small>{{ producto.descripcion}}</small>
                <ng-template [ngIf]="producto.extras.length > 0">
                  <ng-template [ngIf]="homeDatos.ver_detalle">
                    <div *ngFor="let extra of producto.extras">
                      <li>{{extra.nombre}}</li>
                    </div>
                  </ng-template>
                  <h4><b> {{ homeDatos.texto_detalle}}<i (click)="homeDatos.verDetalle()" class="fas {{homeDatos.icono_detalle}} align-self-center ml-2"></i></b></h4>
                </ng-template>
              </div>

              <div class="col-3 col-md-3 col-sm-3">
                <b>Cantidad: ({{producto.cantidad}})</b>
              </div>
              <div class="col-3 col-md-3 col-sm-3 text-right">
                <b *ngIf="producto.extras.length === 0">{{ producto.cantidad * producto.valor | currency: 'COP':'$':'1.0'  }}</b>
                <b *ngIf="producto.extras.length > 0">{{ producto.cantidad * homeDatos.compraOrden.valor_temporal | currency: 'COP':'$':'1.0'  }}</b>
              </div>


            </div>
            <hr>

            <!-- Totalizar -->
            <div class="row mb-2 mt-2">
              <div class="col-6">
                  Total Productos
              </div>
              <div class="col-6 text-right">
                {{ (homeDatos.compraOrden.total - homeDatos.compraOrden.valor_domicilio - homeDatos.compraOrden.total_propina_dom ) | currency: 'COP':'$':'1.0'}}
              </div>
              <div class="col-6">
                  Domicilio
            </div>
            <div class="col-6 text-right">
                {{ homeDatos.compraOrden.valor_domicilio | currency: 'COP':'$':'1.0'}}
            </div>
            <div class="col-6">
                  Propina
            </div>
            <div class="col-6 text-right">
                {{ homeDatos.compraOrden.total_propina_dom | currency: 'COP':'$':'1.0'}}
            </div>
            <div class="col-6">
                  Tu Pago
            </div>
            <div class="col-6 text-right">
                {{ homeDatos.compraOrden.tupago | currency: 'COP':'$':'1.0'}}
            </div>
            <div class="col-6">
              <b>Total a pagar {{ homeDatos.compraOrden.tipo_pago_servicio_txt }}</b>
            </div>
            <div class="col-6 text-right">
              <b>{{ homeDatos.compraOrden.total | currency: 'COP':'$':'1.0'}}</b>
            </div>
            </div>

          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer content_text pt-0">

  </div>
</ng-template>
