.main-content {
  background: white !important;
}

.quitar_boton{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.color_principal{
  background: #ff0000;
}

.no_padding{
  padding: 0 !important;
}

.xlModalMediano > .modal-dialog {
  max-width: 40% !important;
  width: 40% !important;
}

.xlModal > .modal-dialog {
  max-width: 90% !important;
  width: 90% !important;
}

.btn_eliminar:hover{
  color: rgb(252, 50, 50);
}

.btn_seleccionar:hover{
  color: rgb(30, 173, 75);
}

.content_text{
  justify-content: center !important;
}

.border_header{
  border-bottom: 1px solid gainsboro;
}

.btn_direccion{
  width: 50%;
}

.requerido {
  color: red
}

.btn-close {
  background: #dadada00;
}

.borde_item_carrito {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
  margin-bottom: 24px;
}
.badge {
padding-left: 9px;
padding-right: 9px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
background-color: #c67605;
}

::ng-deep agm-map {
  height: 300px;
}
::ng-deep .pac-container {
  z-index: 10000 !important;
}

.float{
position:fixed;
width:80px;
height:80px;
bottom:70px;
left:40px;
color:#FFF;
border-radius:50px;
text-align:center;
  box-shadow: 2px 2px 3px #999;
  z-index: 99999;
}

.my-float{
margin-top:22px;
}
