<div class="row">
  <div class="col-auto">

    <div *ngIf="router.url !== '/servicio' || !visualizarServicios" class="text-muted text-center mb-3">
      <button class="btn btn-link" (click)="volverInicio()"><i class="fa fa-arrow-left"></i> Atrás</button>
    </div>

  </div>
    <div class="col-auto col-md-2 col-sm-6 text-center mt-3 ml-2">

      <div class="text-muted text-center mb-3">
        <img src="https://tuorden.com.co/web/index/images/logo.png" height="50px"/> <br>
        <a href="tel:0314325130">PBX: 0314325130</a>
      </div>
    </div>

    <div class="col col-md-6 col-sm-6 text-center mt-3">

      <button [disabled]="router.url !== '/servicio' || !visualizarServicios" type="button" (click)="(usuario == null) ? abrirModales(modalLogin, 'login') : abrirModales(modalDirecciones, 'direcciones')" class="btn btn-neutral btn-icon mb-3  w-75 btn_direccion">
        <span class="btn-inner--text">
          {{(direccionSeleccionada.length > 0) ? direccionSeleccionada[0].direccion : 'Ingresar Dirección'}}
        </span>
        <span class="btn-inner--icon"><i class="fas fa-angle-down"></i></span>
      </button>
      <br>
      <small style="color:red" *ngIf="!comercioCerrado">
        Inicio : {{horarioComercioInicio | date:'shortTime'}} - Fin : {{horarioComercioFin | date:'shortTime'}}
      </small>
    </div>

    <div class="col-auto mt-2 mr-2 d-block d-sm-none">


      <ul *ngIf="usuario != null" class="navbar-nav align-items-right d-md-flex">
        <li class="nav-item" ngbDropdown placement="bottom-right">
          <a class="nav-link pr-0" role="button" ngbDropdownToggle>
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="{{'http://tuorden.com.co/' + usuario.image}}">
              </span>
            </div>
          </a>
          <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Bienvenido!</h6>
            </div>
            <a (click)="abrirModales(modalUsuario, 'usuario')" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>Mi Perfil</span>
            </a>
            <a href="https://tuorden.com.co/politica-de-privacidad" target="_blank" class="dropdown-item">
              <i class="fas fa-info-circle"></i>
              <span>Terminos Y Condiciones</span>
            </a>
            <a (click)="abrirModales(modalPQR, 'pqrs')" target="_blank" class="dropdown-item">
              <i class="fas fa-iheadset"></i>
              <span>PQR's</span>
            </a>
            <a (click)="abrirModales(modalTransacciones, 'transaccion')" class="dropdown-item">
              <i class="fas fa-credit-card"></i>
              <span>Historial Transacciones</span>
            </a>
            <button class="dropdown-item" (click)="cerrarSession()">
              <i class="ni ni-user-run"></i>
              <span>Cerrar Sessión</span>
            </button>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-auto col-md-2 mt-2 text-center d-none d-sm-block">

      <button *ngIf="usuario == null" type="button" (click)="abrirModales(modalLogin, 'login')" class="btn btn-primary mb-3">
        Ingresar
      </button>

      <div class="row">

        <!-- <div class="col-2 col-md-2 mr-2" *ngIf="homeDatos?.compraOrden != null">
          <ul *ngIf="usuario != null" class="navbar-nav align-items-center d-md-flex" (click)="verOrdenActual(modalOrden)">
            <li class="nav-item" ngbDropdown placement="bottom-right">
              <a class="nav-link pr-0" role="button">
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img src="./assets/img/icons/common/orden.png">
                  </span>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-1 col-md-1">

          <ul *ngIf="usuario != null"
              class="navbar-nav align-items-center d-md-flex"
              (click)="visualizarCarrito()">
            <li class="nav-item" ngbDropdown placement="bottom-right">
              <ng-template #popContent><label class="text-center"><b>({{ cantidadPopover }})</b> {{mensajePopover}} <b>{{ (cantidadPopover * valorPopover) | currency: 'COP':'$':'1.0'}}</b></label></ng-template>
              <ng-template #popTitle><b>Producto Agregado</b></ng-template>
              <a class="nav-link pr-0" role="button"
                  #carrito="ngbPopover"
                  [ngbPopover]="popContent"
                  [popoverTitle]="popTitle"
                  container="body"
                  [closeDelay]="300"
                  [openDelay]="300"
                  triggers="non-manual">
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <i class="fas fa-shopping-basket"></i>
                  </span>
                  <span class='badge badge-warning' id='lblCartCount'>
                   {{ homeDatos.cantidadCarrito }}
                  </span>
                </div>
              </a>
            </li>
          </ul>

        </div> -->

        <div class="col-8 col-md-8">
          <ul *ngIf="usuario != null" class="navbar-nav align-items-right d-md-flex">
            <li class="nav-item" ngbDropdown placement="bottom-right">
              <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="{{'http://tuorden.com.co/' + usuario.image}}">
                  </span>
                  <div class="media-body ml-2 d-lg-block">
                    <span class="text-sm  font-weight-bold" style="color: red;">
                      {{usuario.nombre}} {{usuario.tupago | currency: 'COP':'$':'1.0' }}
                    </span>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                <div class=" dropdown-header noti-title">
                  <h6 class="text-overflow m-0">Bienvenido!</h6>
                </div>
                <a (click)="abrirModales(modalUsuario, 'usuario')" class="dropdown-item">
                  <i class="ni ni-single-02"></i>
                  <span>Mi Perfil</span>
                </a>
                <a href="https://tuorden.com.co/politica-de-privacidad" target="_blank" class="dropdown-item">
                  <i class="fas fa-info-circle"></i>
                  <span>Terminos Y Condiciones</span>
                </a>
                <a (click)="abrirModales(modalPQR, 'pqrs')" target="_blank" class="dropdown-item">
                  <i class="fas fa-headset"></i>
                  <span>PQR's</span>
                </a>
                <a (click)="abrirModales(modalTransacciones, 'transaccion')" class="dropdown-item">
                  <i class="fas fa-credit-card"></i>
                  <span>Historial Transacciones</span>
                </a>
                <a (click)="abrirModales(modalOrdenes, 'ordenes')" class="dropdown-item">
                  <i class="fas fa-motorcycle"></i>
                  <span>Historial Ordenes</span>
                </a>
                <button class="dropdown-item" (click)="cerrarSession()">
                  <i class="ni ni-user-run"></i>
                  <span>Cerrar Sessión</span>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>


<ng-template #modalLogin let-modalLogin>

  <div class="modal-body no_padding">
    <div class="header color_principal py-5 py-5">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
              <div class="text-right">
                <button *ngIf="apiKey !== null && apiLogin !== null" class="btn btn-lg btn-icon btn-close" (click)="modalLogin.close()">
                  <span class="btn-inner--icon">
                      <i class="far fa-times-circle fa-2x" style="color: white;"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="card bg-secondary shadow border-0">

            <div class="card-header bg-transparent pb-2">

              <div class="text-muted text-center mt-2 mb-3">
                <img src="https://tuorden.com.co/web/index/images/logo.png" height="80px"/>
              </div>

            </div>

            <div class="card-body px-lg-5 py-lg-5">

              <div class="row" *ngIf="!login">
                  <div class="col-12">
                      <button class="quitar_boton" (click)="volverHome()">
                            <u> < Volver </u>
                      </button>
                  </div>
              </div>

              <ng-template [ngIf]="login">

              <div class="text-center text-muted mb-4">
                  <small>Iniciar Sesión</small>
                </div>

                <div class="row">
                  <div class="col-12 mt-2">
                    <button class="btn btn-lg btn-neutral btn-icon btn-block" (click)="menuOpciones('celular')">
                      <span class="btn-inner--icon"><img src="../assets/img/icons/common/telefono.png"></span>
                      <span class="btn-inner--text">Número de Celular</span>
                    </button>
                  </div>
                  <!-- <div class="col-12 mt-2">
                    <button class="btn btn-lg btn-neutral btn-icon btn-block">
                      <span class="btn-inner--icon"><img src="../assets/img/icons/common/facebook.ico"></span>
                      <span class="btn-inner--text">Continuar con Facebook</span>
                    </button>
                  </div> -->
                  <div class="col-12 mt-2">
                    <button class="btn btn-lg btn-neutral btn-icon btn-block" (click)="menuOpciones('correo')">
                      <span class="btn-inner--icon"><img src="../assets/img/icons/common/email.svg"></span>
                      <span class="btn-inner--text">Correo Electrónico</span>
                    </button>
                  </div>
                  <div class="col-12 mt-2">
                    <div class="row">
                          <div class="col-2">
                            <ui-switch defaultBgColor="red" [checked]="aceptarTerminos" [checkedTextColor]="'white'" [uncheckedTextColor]="'white'" uncheckedLabel="" checkedLabel="" (valueChange)="aceptarTerminosCondiciones($event)">
                            </ui-switch>
                          </div>
                          <div class="col-10">
                            <a class="btn-inner--text text-justify" href="https://tuorden.com.co/politica-de-privacidad">Debes aceptar Terminos, Condiciones y Políticas de Privacidad del servicio.</a>
                          </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="row mt-3">
                  <div class="col-6">
                    <a href="javascript:void(0)" class="text-dark"><small>¿Olvidaste Contraseña?</small></a>
                  </div>
                  <div class="col-6 text-right">
                    <a href="javascript:void(0)" class="text-dark"><small>Registrate!</small></a>
                  </div>
                </div> -->

              </ng-template>

              <!-- Contenido Número Celular -->
              <ng-template [ngIf]="celular && !verificar_codigo_celular">

                <div class="text-center text-muted mb-4">
                  <small>Ingresa con tu número celular</small>
                  <p class="text-center">Enviaremos un mensaje de texto a este número con un codigo de verificación</p>
                </div>

                <div class="row" [formGroup]="form_validar_celular">
                    <div class="col-12">
                      <input type="number" class="form-control" id="numero_celular" aria-describedby="Celular" placeholder="Escribe tu número celular" formControlName="celular">
                    </div>

                    <div class="col-12 mt-2">
                      <button type="button" class="btn btn-primary btn-block" (click)="validarNumeroCelular()" [disabled]="!form_validar_celular.valid">
                        Recibir Código SMS
                      </button>
                    </div>
                </div>

              </ng-template>
              <!-- Fin Contenido Número Celular -->

              <ng-template [ngIf]="verificar_codigo_celular">

                <div class="text-center text-muted mb-4">
                  <small>Ingresa código verificación</small>
                  <p class="text-center">Hemos enviado un SMS con el codigo de verificación al número {{numero_celular}}</p>
                </div>

                <div class="row" [formGroup]="form_validar_celular">
                    <div class="col-12">
                      <input type="number" ng-maxlength="4" class="form-control" id="codigo" aria-describedby="Codigo" formControlName="codigo" placeholder="Ingrese los 4 digitos de verificación" (keyup)="validarUsuario($event, modalLogin, modalDirecciones, modalCompletarUsuario)">
                    </div>

                    <div class="col-12 mt-2">
                      <button type="button" class="btn btn-primary btn-block" (click)="validarNumeroCelular()" [disabled]="tiempo_reenvio != -1">
                        Reenviar SMS {{ (tiempo_reenvio != -1) ? tiempo_reenvio + 'seg' : ''}}
                      </button>
                    </div>
                </div>

              </ng-template>

              <ng-template [ngIf]="correo || verificar_codigo_correo">

                <div class="text-center text-muted mb-4">
                  <small>Ingresa con tu correo electrónico</small>
                  <p class="text-center">Enviaremos un código de verificación a este correo para el inicio de sesión</p>
                </div>

                <div class="row" [formGroup]="form_validar_correo">


                    <div class="col-12" *ngIf="correo">
                      <input type="correo" class="form-control" id="correo" placeholder="Escribe tu correo electrónico" aria-describedby="Correo" formControlName="correo">
                    </div>

                    <div class="col-12" *ngIf="!correo && verificar_codigo_correo">
                      <input type="correo" class="form-control" id="codigo" placeholder="Ingrese los 4 digitos de verificación" aria-describedby="Codigo" formControlName="codigo" (keyup)="validarUsuario($event, modalLogin, modalDirecciones, modalCompletarUsuario)">
                    </div>


                    <div class="col-12 mt-2">
                      <button type="button" class="btn btn-primary btn-block" (click)="validarCorreo()" [disabled]="!correo || tiempo_reenvio == -1">
                         {{ (correo) ? 'Recibir Código' : 'Recibir Codigo ' + ((tiempo_reenvio != -1) ? tiempo_reenvio + 'seg' : '') }}
                      </button>
                    </div>
                </div>

              </ng-template>
            </div>

            </div>


          </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">

  </div>
</ng-template>

<ng-template #modalBanner let-modalBanner>

  <div class="modal-body no_padding">
    <div class="header color_principal py-5 py-5">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
              <div class="text-right">
                <button *ngIf="apiKey !== null && apiLogin !== null" class="btn btn-lg btn-icon btn-close" (click)="modalBanner.close()">
                  <span class="btn-inner--icon">
                      <i class="far fa-times-circle fa-2x" style="color: white;"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="card bg-secondary shadow border-0">

            <div class="card-header bg-transparent pb-2">

              <div class="text-muted text-center mt-2 mb-3">
                <img src="https://tuorden.com.co/web/index/images/logo.png" height="80px"/>
                Descarga Nuestra App.
              </div>

            </div>

            <div class="card-body px-lg-5 py-lg-5">

              <div class="row">
                <div class="col-4 mt-2">
                  <a class="btn btn-lg btn-neutral btn-icon btn-block" target="_blank" href="https://itunes.apple.com/us/app/tu-orden/id1437680603?l=es&ls=1&mt=8">
                    <span class="btn-inner--icon"><img src="../assets/img/icons/common/app-store.svg"></span>
                    <span class="btn-inner--text">iOs</span>
                  </a>
                </div>
                <div class="col-4 mt-2">
                  <a class="btn btn-lg btn-neutral btn-icon btn-block" target="_blank" href="https://play.google.com/store/apps/details?id=co.com.tuorden">
                    <span class="btn-inner--icon"><img src="../assets/img/icons/common/android.svg"></span>
                    <span class="btn-inner--text">Android</span>
                  </a>
                </div>
                <div class="col-4 mt-2">
                  <a class="btn btn-lg btn-neutral btn-icon btn-block" target="_blank" href="https://appgallery.huawei.com/#/app/C102583929">
                    <span class="btn-inner--icon"><img src="../assets/img/icons/common/huawei.svg"></span>
                    <span class="btn-inner--text">Huawei</span>
                  </a>
                </div>

                <div class="col-12 mt-2">
                  <button class="btn btn-lg btn-neutral btn-icon btn-block" (click)="continuarWeb(modalLogin, modalBanner)">
                    <span class="btn-inner--icon"><img src="../assets/img/icons/common/web.svg"></span>
                    <span class="btn-inner--text">Continuar Web</span>
                  </button>
                </div>
              </div>
            </div>

            </div>


          </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">

  </div>
</ng-template>

<ng-template #modalDirecciones let-modalDirecciones>

  <div class="modal-body no_padding">
    <div class="header color_principal py-5 py-5">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
              <div class="text-right">
                <button *ngIf="direccionSeleccionada.length > 0" class="btn btn-lg btn-icon btn-close" (click)="modalDirecciones.close()">
                  <span class="btn-inner--icon">
                      <i class="far fa-times-circle fa-2x" style="color: white;"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="card bg-secondary shadow border-0">

            <div class="card-header bg-transparent pb-2">
                <b>Hola, </b> {{usuario.nombre}} <br>
                <b>Tus lugares favoritos</b>
            </div>
            <div class="card-body px-lg-5 py-lg-5 no_padding">
              <div class="list-group" [style.height.px]="funciones.obtenerHeight(389)" style="overflow-x: hidden">
                <ul class="list-group-item btn_seleccionar" *ngFor="let direccion of direcciones" (click)="seleccionarDireccion(direccion, modalDirecciones)">
                  <div class="row">
                    <div class="col-1">
                      <i class="fas fa-check-circle btn_seleccionar">
                      </i>
                    </div>

                    <div class="col-10">
                      {{direccion.direccion}} <br>
                      <small>{{direccion.descripcion}}</small>
                    </div>

                    <div class="col-1">
                      <i class="fas fa-trash btn_eliminar" (click)="eliminarDireccion(direccion)">

                      </i>
                    </div>
                  </div>
                </ul>
              </div>
            </div>

            </div>


          </div>

      </div>
    </div>
  </div>
  <div class="modal-footer content_text">
    <button type="button" (click)="abrirModales(modalDireccion, 'direccion')" class="btn btn-sm btn-primary">
      Nueva Dirección
    </button>
  </div>
</ng-template>

<ng-template #modalDireccion let-modalDireccion>

  <div class="modal-body no_padding">
    <div class="header color_principal py-5 py-5">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
              <div class="text-right">
                <button *ngIf="direccionSeleccionada.length > 0" class="btn btn-lg btn-icon btn-close" (click)="modalDireccion.close()">
                  <span class="btn-inner--icon">
                      <i class="far fa-times-circle fa-2x" style="color: white;"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-2">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="card bg-secondary shadow border-0">

            <div class="card-header bg-transparent pb-2">
              <div class="row">

                <div class="col-1">
                  <button class="quitar_boton text-left" (click)="volverAtrasDirecciones(modalDirecciones)">
                    <i class="fas fa-chevron-left"></i>
                  </button>
                </div>
                <h3 class="justify-content-center">Nueva Dirección</h3>
            </div>
          </div>

          <div class="card-body px-lg-5 py-lg-5">
              <div class="row" [formGroup]="form_creacion_direccion">
                <div class="col-md-12 col-md-offset-2 col-sm-12 mb-3" >
                  <label>Ciudad <a style="color: red;"> * </a>
                    <span *ngIf="getError('ciudad', form_creacion_direccion)" class="error requerido">
                            ( Diligenciar Ciudad )
                        </span>
                </label>
                  <angular2-multiselect [data]="ciudades"
                                        formControlName = "ciudad"
                                        [settings]="configuracionSelect">
                  </angular2-multiselect>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12">
                    <label>Dirección <a style="color: red;"> * </a>
                        <span *ngIf="getError('nombre', form_creacion_direccion)" class="error requerido">
                                ( Diligenciar Dirección )
                            </span>
                    </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="nombre_grupo_span">
                                <i class="fa fa-marker" style="color: seagreen"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Direccion" name="direccion"
                              id="direccion" aria-label="Direccion" aria-describedby="Direccion"
                              formControlName="direccion">
                    </div>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12 mb-3" >
                  <label>Nombre <a style="color: red;"> * </a>
                      <span *ngIf="getError('nombre', form_creacion_direccion)" class="error requerido">
                              ( Diligenciar Nombre )
                          </span>
                  </label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="nombre_grupo_span">
                              <i class="fas fa-signature" style="color: seagreen"></i>
                          </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Nombre" name="nombre"
                            id="nombre" aria-label="Nombre" aria-describedby="Nombre"
                            formControlName="nombre">
                  </div>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12">
                    <label>Descripción <a style="color: red;"> * </a>
                      <span *ngIf="getError('descripcio', form_creacion_direccion)" class="error requerido">
                              ( Diligenciar Descripción )
                          </span>
                  </label>
                    <div class="input-group mb-3">
                        <textarea type="text" class="form-control" placeholder="Descripcion" name="descripcion"
                              id="descripcion" aria-label="Descripcion" formControlName="descripcion">
                        </textarea>
                    </div>
                </div>

            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer content_text pt-0">
      <button type="button" (click)="gelocalizarDireccion(modalMap, modalDireccion)" *ngIf="mostrarMapa" class="btn btn-sm btn-primary" [disabled]="form_creacion_direccion.invalid">
        Continuar
      </button>
  </div>
</ng-template>

<ng-template #modalUsuario let-modalUsuario>

  <div class="modal-body no_padding">
    <div class="header color_principal py-5 py-5">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
              <div class="text-right">
                <button class="btn btn-lg btn-icon btn-close" (click)="modalUsuario.close()">
                  <span class="btn-inner--icon">
                      <i class="far fa-times-circle fa-2x" style="color: white;"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-2">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="card bg-secondary shadow border-0">

            <div class="card-header bg-transparent pb-2">
              <div class="row">
                <h3 class="justify-content-center">Perfil</h3>
            </div>
          </div>

          <div class="card-body px-lg-5 py-lg-5">
              <div class="row align-items-center text-center">
                <div class="col-md-12 col-md-offset-2 col-sm-12">
                    <img class="rounded-circle" width="20%" height="30%" alt="Image placeholder" src="{{'http://tuorden.com.co/' + usuario.image}}">
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12">
                    <h4>Tu Pago {{ usuario.tupago | currency: 'COP':'$':'1.0' }}</h4>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12">
                  <h4>{{ usuario.nombre }} {{usuario.apellido}} </h4>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12">
                  {{ usuario.documento }}
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12">
                  {{ usuario.correo }}
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12">
                  {{ usuario.celular }}
                </div>

              </div>
              <br>
              <div class="row">
                  <b>Configuracion Notificaciónes</b>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-12 col-md-offset-2 col-sm-12 no_padding">
                  <div class="row">
                    <div class="col-9 col-md-9 col-md-offset-2 col-sm-9">
                      <label> SMS</label>
                    </div>
                    <div class="col-3 col-md-3 col-md-offset-2 col-sm-3">
                      <ui-switch defaultBgColor="red" [checked]="usuario.sms" [checkedTextColor]="'white'" [uncheckedTextColor]="'white'" uncheckedLabel="" checkedLabel="" (valueChange)="actualizarNotificacion($event, 'sms')">
                      </ui-switch>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12 no_padding">
                  <div class="row">
                    <div class="col-9 col-md-9 col-md-offset-2 col-sm-9">
                      <label> Mailing</label>
                    </div>
                    <div class="col-3 col-md-3 col-md-offset-2 col-sm-3">
                      <ui-switch defaultBgColor="red" [checked]="usuario.mailing" [checkedTextColor]="'white'" [uncheckedTextColor]="'white'" uncheckedLabel="" checkedLabel="" (valueChange)="actualizarNotificacion($event, 'mailing')">
                      </ui-switch>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12 no_padding">
                  <div class="row">
                    <div class="col-9 col-md-9 col-md-offset-2 col-sm-9">
                      <label> PUSH</label>
                    </div>
                    <div class="col-3 col-md-3 col-md-offset-2 col-sm-3">
                      <ui-switch defaultBgColor="red" [checked]="usuario.push" [checkedTextColor]="'white'" [uncheckedTextColor]="'white'" uncheckedLabel="" checkedLabel="" (valueChange)="actualizarNotificacion($event, 'push')">
                      </ui-switch>
                    </div>
                  </div>
                </div>
              </div>

          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer content_text pt-0">

  </div>
</ng-template>

<ng-template #modalCompletarUsuario let-modalCompletarUsuario>

  <div class="modal-body no_padding">
    <div class="header color_principal py-5 py-5">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
              <div class="text-right">
                <button *ngIf="direccionSeleccionada.length > 0" class="btn btn-lg btn-icon btn-close" (click)="modalCompletarUsuario.close()">
                  <span class="btn-inner--icon">
                      <i class="far fa-times-circle fa-2x" style="color: white;"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-2">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="card bg-secondary shadow border-0">

            <div class="card-header bg-transparent pb-2">
              <div class="row">
                <h3 class="justify-content-center">Perfil</h3>
            </div>
          </div>

          <div class="card-body px-lg-5 py-lg-5">
            <div class="row" [formGroup]="form_creacion_usuario">

                <div class="col-md-12 col-md-offset-2 col-sm-12">
                  <label>Nombre <a style="color: red;"> * </a>
                      <span *ngIf="getError('nombre', form_creacion_usuario)" class="error requerido">
                              ( Diligenciar Nombre )
                          </span>
                  </label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="nombre_grupo_span">
                              <i class="fa fa-user" style="color: seagreen"></i>
                          </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Nombre" name="nombre"
                            id="nombre" aria-label="Nombre" aria-describedby="Nombre"
                            formControlName="nombre">
                  </div>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12">
                  <label>Apellido <a style="color: red;"> * </a>
                      <span *ngIf="getError('apellido', form_creacion_usuario)" class="error requerido">
                              ( Diligenciar Apellido )
                          </span>
                  </label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="nombre_grupo_span">
                              <i class="fa fa-user" style="color: seagreen"></i>
                          </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Apellido" name="apellido"
                            id="apellido" aria-label="Apellido" aria-describedby="Apellido"
                            formControlName="apellido">
                  </div>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12">
                  <label>Correo <a style="color: red;"> * </a>
                      <span *ngIf="getError('correo', form_creacion_usuario)" class="error requerido">
                              ( Diligenciar Correo )
                          </span>
                  </label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="nombre_grupo_span">
                              <i class="fa fa-at" style="color: seagreen"></i>
                          </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Correo" name="correo"
                            id="correo" aria-label="Correo" aria-describedby="Correo"
                            formControlName="correo">
                  </div>
                </div>


              </div>

          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer content_text pt-0">
    <button type="button" (click)="actualizarUsuario(modalDirecciones, modalCompletarUsuario)" class="btn btn-sm btn-primary" [disabled]="form_creacion_usuario.invalid">
      Actualizar
    </button>
  </div>
</ng-template>

<ng-template #modalTransacciones let-modalTransacciones>

  <div class="modal-body no_padding">
    <div class="header color_principal py-5 py-5">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
              <div class="text-right">
                <button class="btn btn-lg btn-icon btn-close" (click)="modalTransacciones.close()">
                  <span class="btn-inner--icon">
                      <i class="far fa-times-circle fa-2x" style="color: white;"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-2">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="card bg-secondary shadow border-0">

            <div class="card-header bg-transparent pb-2">
              <div class="row">
                <h3 class="justify-content-center">Transacciones</h3>
            </div>
          </div>

          <div class="card-body px-lg-5 py-lg-5">
              <div class="row align-items-center"  *ngFor="let transaccion of transacciones">

                <div class="col-2 col-md-2 col-md-offset-2 col-sm-2 text-center">
                  <img src="http://tuorden.com.co/dashboard/img/{{transaccion.franquicia}}.png" height="90%" width="90%">
                </div>

                <div class="col-8 col-md-8 col-md-offset-8 col-sm-8">
                  **** **** **** {{transaccion.ultimos_digitos}} <br>
                  {{transaccion.fecha}}<br>
                  {{transaccion.valor  | currency: 'COP':'$':'1.0' }}
                </div>

                <div class="col-2 col-md-2 col-md-offset-8 col-sm-2 text-center">
                      {{transaccion.id}}<br>
                      <small *ngIf="transaccion.estado === 0" style="color: red;"> Error </small>
                      <small *ngIf="transaccion.estado === 1" style="color: green;"> Aprobada </small>
                      <small *ngIf="transaccion.estado === 2" style="color: red;"> Declinada </small>
                      <small *ngIf="transaccion.estado === 3" style="color: yellow;"> Pendiente </small>
                      <small *ngIf="transaccion.estado === 4" style="color: red;"> Reversada </small>

                </div>

                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer content_text pt-0">

  </div>
</ng-template>


<ng-template #modalOrdenes let-modalOrdenes>

  <div class="modal-body no_padding">
    <div class="header color_principal py-5 py-5">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
              <div class="text-right">
                <button class="btn btn-lg btn-icon btn-close" (click)="modalOrdenes.close()">
                  <span class="btn-inner--icon">
                      <i class="far fa-times-circle fa-2x" style="color: white;"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-2">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="card bg-secondary shadow border-0">

            <div class="card-header bg-transparent pb-2">
              <div class="row">
                <h3 class="justify-content-center">Historial Ordenes</h3>
            </div>
          </div>

            <div class="card-body px-lg-5 py-lg-5 no_padding">
                <div class="list-group">
                  <ul class="list-group-item"  *ngFor="let orden of ordenes">
                      <div class="row">
                      <div class="col-2 col-md-2 col-sm-2 text-center">
                        <img class="rounded-circle" src="https://tuorden.com.co/web/image_proveedor/img-big-{{orden.proveedor_id}}.png" width="90%" height="90%"/>
                      </div>

                      <div class="col-7 col-md-7 col-sm-7">
                        {{orden.proveedor_nombre}} <br>
                        {{orden.fecha_creacion}}<br>
                        {{orden.total  | currency: 'COP':'$':'1.0' }}
                      </div>

                      <div class="col-3 col-md-3 col-sm-3 text-center">
                            <br>
                            <small *ngIf="orden.estado === 1" style="color: red;"> Pendiende de aceptación </small>
                            <small *ngIf="orden.estado === 2" style="color: green;"> Aceptado </small>
                            <small *ngIf="orden.estado === 3" style="color: red;"> Anulado </small>
                            <small *ngIf="orden.estado === 4" style="color: yellow;"> Pendiente Anulacion </small>
                            <br>
                            <small style="color: red; font-size: 10px;" >{{orden.calificacion == null ? 'Sin Calificar' : ''}}</small>
                      </div>
                      </div>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer content_text pt-0">

  </div>
</ng-template>

<ng-template #modalPQR let-modalPQR>

  <div class="modal-body no_padding">
    <div class="header color_principal py-5 py-5">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
              <div class="text-right">
                <button class="btn btn-lg btn-icon btn-close" (click)="modalPQR.close();">
                  <span class="btn-inner--icon">
                      <i class="far fa-times-circle fa-2x" style="color: white;"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-2">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="card bg-secondary shadow border-0">

            <div class="card-header bg-transparent pb-2">
              <div class="row">
                <h3 class="justify-content-center">PQR's</h3>
            </div>
          </div>

          <div class="card-body px-lg-5 py-lg-5">
              <div class="row">

              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer content_text pt-0">
    <button type="button" (click)="enviarPQRs();" class="btn btn-sm btn-primary">
     Enviar
    </button>
  </div>
</ng-template>

<ng-template #modalMap let-modalMap>
  <app-modal-maps [titulo]="'Dirección'" [dato]="form_creacion_direccion" [botonCerrar]="direccionSeleccionada.length > 0" [poligono]="false" (accionRealizada)="agregarDireccion($event, modalMap, modalDireccion)" [botonAccion]="'Confirmar'"></app-modal-maps>
</ng-template>
