<div [style.height.px]="funciones.obtenerHeight(170)" style="overflow-x: hidden">
  <div id="servicios" class="m-3" *ngIf="visualizarServicios">

    <div class="row m-3">
      <div class="col-12">
        <input type="text" (keyup)="filtrosServicios()" class="form-control" placeholder="Buscar Servicio"
        [(ngModel)]="busquedaServicio">
      </div>
    </div>

    <div class="row m-3">
      <div class="card m-2" style="width: 20rem;" (click)="irServicio(servicio)"  *ngFor="let servicio of servicios; index as i ">
        <img src="https://tuorden.com.co/web/image_servicio/servicio-{{servicio.id}}.jpeg" class="card-img-top" alt="{{servicio.nombre}}">
      </div>
    </div>


  </div>

  <div id="restaurantes" class="m-3" *ngIf="!visualizarServicios">

    <div class="row">

      <div class="col-12 mb-3">
        <input type="text" (keyup)="filtrosComercios()" class="form-control" placeholder="Buscar Comercios"
        [(ngModel)]="busquedaComercio">
      </div>

    <!-- Promociones -->
    <div class="col-12 mb-3">
        <ng-image-slider
        style="cursor: pointer;"
        [images]="imageObject" #nav
        [infinite]="false"
        [imageSize]="{width: 400, height: 200}"
        [imagePopup]="false"
        (imageClick)="visualizarProductos(null, imageObject[$event])"
        slideImage="0">
      </ng-image-slider>
    </div>
    <!-- Categorias -->
    <!-- <div class="col-lg-3 col-md-6">
      <div class="card" style="width: 18rem;">
        <div class="card-header text-center">
          <b>Categorias</b>
        </div>
        <ul class="list-group list-group-flush" style="cursor: pointer;" *ngFor="let categoria of comerciosCompletos; index as i">
          <li class="list-group-item" (click)="filtrarComerciosCategoria(categoria)">{{categoria.nombre}}</li>
        </ul>
      </div>
    </div> -->
    <!-- Fin Categorias -->

    <!-- Comercios -->
    <div class="col-lg-12 col-md-12" >
      <!--  <div *ngFor="let comercio of comercios">
      <div  *ngIf="categoria.id != 0">
          <h1 class="display-6">{{categoria.nombre}}</h1>
          <hr class="mt-0">
      </div> -->

      <div class="row">
        <div class="mb-3 col-md-4 col-sm-6 col-12" (click)="visualizarProductos(comercio)" style="cursor: pointer;" *ngFor="let comercio of comercios">
          <div class="card h-100">
            <div class="card-horizontal">
                <div class="img-square-wrapper m-auto pr-3">
                    <img class="" src="https://tuorden.com.co/web/image_proveedor/app_comercios/img-{{comercio.id}}.jpeg" width="100px" height="100px" alt="{{comercio.nombre}}">
                </div>
                <div class="card-body pl-0">
                    <h4 class="card-title">{{comercio.nombre}}</h4>
                    <p class="card-text">{{comercio.descripcion}}	</p>
                    <p class="card-text">{{comercio.tiempo}}  - {{ (comercio.tiempo + 5) }} min</p>
                    <p class="card-text"><b>Valor Domicilio: </b> {{ comercio.valor_domicilio}}</p>
                </div>
            </div>
          </div>
      </div>


    </div>

    </div>


    </div>
  </div>

</div>
