    <div class="modal-header">
        <div style="text-transform: capitalize"><h2>{{titulo}}</h2>
        </div>
        <div>
            <button class="btn btn-primary" (click)="enviarDatos(true)">{{botonAccion}}</button>
        </div>
    </div>
    <div class="modal-body">
        <div>
            <!-- <div class="form-group">
                <label>Ingresa la dirección</label>
                <input type="text" class="form-control" [(ngModel)]="direccionInput" (keydown.enter)="$event.preventDefault()" placeholder="Ingresa la dirección" autocorrect="off" autocapitalize="off" spellcheck="off" #buscar>
            </div> -->

            <div class="container" *ngIf="!poligono">
                <div>
                    <agm-map [latitude]="datosMaps.latitude" [longitude]="datosMaps.longitude" [zoom]="datosMaps.zoom">
                        <agm-marker [latitude]="datosMaps.latitude" [longitude]="datosMaps.longitude" [markerDraggable]="false"
                                    (dragEnd)="markerDragEnd($event)"></agm-marker>
                    </agm-map>

<!--                     <h5>Dirección: {{datosMaps.address}}</h5>
 -->                    <div>Latitud: {{datosMaps.latitude}}</div>
                    <div>Longitud: {{datosMaps.longitude}}</div>
                </div>
            </div>
            <div class="container" *ngIf="poligono">

                <agm-map [latitude]="datosMaps.latitude" [longitude]="datosMaps.longitude" (mapReady)="onMapReady($event)">
                </agm-map>

            </div>
        </div>
    </div>
    <div class="modal-footer" *ngIf="botonCerrar">
        <button type="button" class="btn btn-danger" (click)="enviarDatos()">Cerrar
        </button>
    </div>

