<div class="main-content" style="overflow: hidden;">
  <app-header #header (funcionParaEmitir)="setearInformacion($event)" (visualizarEmit)="visualizar($event)"></app-header>
  <app-servicio #servicio  (visualizarEmit)="visualizar($event)"></app-servicio>
  <app-footer></app-footer>
</div>

