<div class="header color_principal py-5 py-5">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <!-- <h1 class="text-white">Bienvenido!</h1> -->
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        
        <div class="card-header bg-transparent pb-5">
          
          <div class="text-muted text-center mt-2 mb-3">
            <img src="../assets/img/icons/common/logo.png" height="80px"/>
          </div>
        
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Iniciar Sesión</small>
          </div>
          <div class="row">
            <div class="col-12 mt-2">
              <button class="btn btn-lg btn-neutral btn-icon btn-block">
                <span class="btn-inner--icon"><img src="../assets/img/icons/common/facebook.ico"></span>
                <span class="btn-inner--text">Número de Celular</span>
              </button>
            </div>
            <div class="col-12 mt-2">
              <button class="btn btn-lg btn-neutral btn-icon btn-block">
                <span class="btn-inner--icon"><img src="../assets/img/icons/common/facebook.ico"></span>
                <span class="btn-inner--text">Continuar con Facebook</span>
              </button>
            </div>
            <!-- <div class="col-12 mt-2">
            <button class="btn btn-lg btn-neutral btn-icon btn-block">
              <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </button>
            </div> -->
            <div class="col-12 mt-2">
              <button class="btn btn-lg btn-neutral btn-icon btn-block">
                <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
                <span class="btn-inner--text">Correo Electrónico</span>
              </button>
            </div>
            <div class="col-12 mt-2">
              <div class="row">
                    <div class="col-2"> 
                      <ui-switch defaultBgColor="red" [checked]="false" [checkedTextColor]="'white'" [uncheckedTextColor]="'white'" uncheckedLabel="" checkedLabel="">
                      </ui-switch>
                    </div>
                    <div class="col-10">
                      <a class="btn-inner--text text-justify" href="www.google.com">Acepto Terminos, Condiciones y Políticas de Privacidad del servicio.</a>
                    </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="javascript:void(0)" class="text-dark"><small>Forgot password?</small></a>
            </div>
            <div class="col-6 text-right">
              <a href="javascript:void(0)" class="text-dark"><small>Create new account</small></a>
            </div>
          </div>
        </div>

        </div>

        
      </div>
      
  </div>
</div>
