<footer>
  <p class="text-center" >© By <img src="https://tuorden.com.co/web/index/images/logo.png" width="5%" height="5%"> 2020 descarga nuestra APP, <a target='_blank' href="https://play.google.com/store/apps/details?id=co.com.tuorden&hl=en_US">Click Aquí</a></p>
</footer>
