<div [style.height.px]="funciones.obtenerHeight(150)" style="overflow-x: hidden">
  <ng-sidebar-container>

      <ng-sidebar
          [(opened)]="_opened"
          [mode]="_MODES[_modeNum]"
          [keyClose]="_keyClose"
          [position]="_POSITIONS[_positionNum]"
          [dock]="_dock"
          [dockedSize]="'50px'"
          [autoCollapseHeight]="_autoCollapseHeight"
          [autoCollapseWidth]="_autoCollapseWidth"
          [closeOnClickOutside]="_closeOnClickOutside"
          [closeOnClickBackdrop]="_closeOnClickBackdrop"
          [showBackdrop]="_showBackdrop"
          [animate]="_animate"
          [trapFocus]="_trapFocus"
          [autoFocus]="_autoFocus"
          [ariaLabel]="'Productos'">

         
           <ng-template [ngIf]="validarCarrito">
            <div [style.height.px]="funciones.obtenerHeight(248)" style="overflow-x: hidden">
              <div class="row m-3 align-self-center">
                  <div class="col-10">
                      <p>Entregar en</p>
                      <b>{{direccion}}</b>
                  </div>
                  <div class="col-2">
                    <button class="btn btn-sm btn-neutral btn-icon btn-close" (click)="abrirToogle('carrito')">
                      <span class="btn-inner--icon">
                          <i class="far fa-times-circle fa-2x" style="color: black;"></i>
                      </span>
                    </button>
                  </div>
              </div>
              <hr>
  
              <div *ngIf="carritoCompras.productos.length > 0">
                <div class="row m-3 borde_item_carrito"  *ngFor="let producto of carritoCompras.productos" >
                  <div class="row ">
                      <div class="col-2 align-self-center">
                      <img src="https://tuorden.com.co/web/image_producto/img-small-{{producto.id}}.jpeg" height="50%" width="100%" alt="{{producto.nombre}}">
                      </div> 
    
                      <div class="col-5">
                        <h3>{{ producto.nombre}}</h3>
                        <ng-template [ngIf]="producto.extras.length > 0">
                          <ng-template [ngIf]="producto.ver_detalle">
                            <div *ngFor="let extra of producto.extras">
                              <li>{{extra.nombre}}</li>
                            </div>
                          </ng-template>
                          <h4><b> {{ (producto.texto_detalle !== undefined) ? producto.texto_detalle : 'Detalle'}}<i (click)="verDetalle(producto)" class="fas {{ (producto.icono_detalle !== undefined) ? producto.icono_detalle : 'fa-chevron-down'}} align-self-center ml-2"></i></b></h4>
                        </ng-template>
                      </div>
    
                      <div class="col-2">
                      <table>
                        <tbody>
                          <tr>
                            <td class="text-center">
                              <button *ngIf="producto.quitar" class="btn btn-danger btn-sm btn-res" (click)="eliminarProductoCarrito(producto)">
                                  <span><i class="fa fa-trash"></i> </span>
                              </button>
                                <button *ngIf="!producto.quitar" class="btn btn-primary btn-sm btn-res" (click)="restarCantidad(false, producto)">
                                  -
                                </button>
                            </td>
                            <td align="center" valign="center" style="width: 43px">
                                <strong>
                                  {{producto.cantidad}}
                                </strong>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sum btn-sm" (click)="sumarCantidad(false, producto)"> 
                                  +
                                </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
    
                      <div class="col-2">
                        <h4>{{ producto.cantidad * producto.valor_temporal | currency: 'COP':'$':'1.0'  }}</h4>
                      </div>
                  </div>
                </div>
              </div>
              
  
            </div>
            <div class="div_ctn">
            <div class="row">
              <div class="col-md-5 col-md-offset-6 col-sm-5 col d-flex justify-content-center align-self-center m-3">
                <button type="button" class="btn btn-lg btn-block btn-danger" [disabled]="cantidadCarrito === 0" (click)="vaciarCarrito()">
                  <span class="btn-inner--text">
                      Vaciar Carrito
                  </span>
                </button>
              </div>
              <div class="col-md-5 col-md-offset-6 col-sm-5 col d-flex justify-content-center align-self-center m-3">
                <button type="button" class="btn btn-lg btn-block btn-primary" [disabled]="cantidadCarrito === 0" (click)="validarCarritoCompras()">
                  <span class="btn-inner--text">
                      Continuar
                  </span>
                </button>
              </div>
            </div>
            </div>
           </ng-template> 
          
           <ng-template [ngIf]="continuarCarrito">
            <div [style.height.px]="funciones.obtenerHeight(248)" style="overflow-x: hidden">
              <div class="row m-3 align-self-center">
                  <div class="col-10">
                    <!-- Dirección -->
                    <div class="row">
                        <div class="col-6">
                          <p>Dirección</p>
                        </div>
                        <div class="col-6">
                          <b>{{direccion}}</b>
                        </div>
                    </div>

                    <!-- Tiempo Entre -->
                     <div class="row">
                        <div class="col-6">
                          <p>Tiempo Entrega: </p>
                        </div>
                        <div class="col-6">
                          <b>{{tiempo_entrega}}</b>
                        </div>
                    </div>

                    <!-- Celular -->
                    <div class="row">
                      <div class="col-6">
                        <p>Celular</p>
                      </div>
                      <div class="col-6">
                        <b>{{celular}}</b>
                      </div>
                    </div>

                  </div>
                  <div class="col-2">
                    <button class="btn btn-sm btn-neutral btn-icon btn-close" (click)="abrirToogle('carrito')">
                      <span class="btn-inner--icon">
                          <i class="far fa-times-circle fa-2x" style="color: black;"></i>
                      </span>
                    </button>
                  </div>
              </div>
  
              <div class="row m-3 align-self-center">
                <div class="col-12">
                    <p><b>Seleccione medio de pago:</b></p>
                </div>

                <div class="col-6">
                  <button type="button" class="btn btn-sm btn-block" [ngClass]="{'btn-primary' : medio === 1, 'btn-neutral' : medio === 0}" (click)="medioPago(1)">
                    <span class="btn-inner--text">
                        Efectivo
                    </span>
                  </button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-sm btn-block" [ngClass]="{'btn-primary' : medio === 2 && tarjetaUsuarioSelaccionada != null, 'btn-neutral' : medio === 0}" (click)="medioPago(2, modalTarjetas)">
                    <span class="btn-inner--text">
                        Tarjeta Crédito
                    </span>
                  </button>
                </div>
                <!-- <div class="col-4">
                  <button type="button" class="btn btn-sm btn-block" [ngClass]="{'btn-primary' : medio === 3, 'btn-neutral' : medio === 0}" (click)="medioPago(3)">
                    <span class="btn-inner--text">
                        PSE
                    </span>
                  </button>
                </div> -->

                <div *ngIf="tarjetaUsuarioSelaccionada != null" class="col-12">
                    <div class="row row justify-content-center align-items-center">
                        <div class="col-4 text-center">
                          <img src="http://tuorden.com.co/dashboard/img/{{tarjetaUsuarioSelaccionada.franquicia}}.png" height="80%" width="45%">
                        </div>
                        <div class="col-8">
                          **** **** **** {{tarjetaUsuarioSelaccionada.ultimos_digitos}} <br>
                        </div>
                    </div>
                </div>
              </div>

              <div class="row mr-3 ml-3 mb-3 mt-5">
                <div class="col-8">
                  <p><b>Propina:</b></p>
                </div>
                <div class="col-4">
                  <table>
                    <tbody>
                      <tr>
                        <td class="text-center">
                            <button class="btn btn-primary btn-sm btn-res" (click)="restarPropina()">
                              -
                            </button>
                        </td>
                        <td align="center" valign="center" style="width: 43px">
                            <strong>
                              {{propina | currency: 'COP':'$':'1.0'  }}
                            </strong>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm btn-sum" (click)="sumarPropina()"> 
                              +
                            </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              
              <div class="row mr-3 ml-3 mb-3 mt-5">
                  <div class="col-10 tu_pago_estilo" [ngStyle]="{'background': tuPagoSeleccion ? 'red' : 'grey'}">
                      <div class="row">
                          <div class="col-8">
                            Usar Tu Pago:
                          </div>
                          <div class="col-4 text-right">
                            {{total_tu_pago | currency: 'COP':'$':'1.0'}}
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                      <input type="checkbox" [checked]="tuPagoSeleccion" (change)="pagarTuPago()" />
                  </div>
              </div>

              <div class="row mr-3 ml-3 mb-3 mt-5">
                  <div class="col-6">
                      Total Productos
                  </div>
                  <div class="col-6 text-right">
                    {{total_productos | currency: 'COP':'$':'1.0'}}
                  </div>
                  <div class="col-6">
                      Domicilio
                </div>
                <div class="col-6 text-right">
                    {{total_domicilios | currency: 'COP':'$':'1.0'}}
                </div>
                <div class="col-6">
                      Propina
                </div>
                <div class="col-6 text-right">
                    {{propina | currency: 'COP':'$':'1.0'}}
                </div>
                <div class="col-6">
                      Tu Pago
                </div>
                <div class="col-6 text-right">
                    {{tu_pago | currency: 'COP':'$':'1.0'}}
                </div>
                <div class="col-6">
                  <b>Total a pagar</b>
                </div>
                <div class="col-6 text-right">
                  <b>{{total_a_pagar | currency: 'COP':'$':'1.0'}}</b>
                </div>
              </div>
  
            </div>
            <div class="div_ctn">
            <div class="row">
              
              <div class="col-md-5 col-md-offset-12 col-sm-12 col d-flex justify-content-center align-self-center m-3">
                <button type="button" class="btn btn-lg btn-block btn-neutral" (click)="volverCarrito()">
                  <span class="btn-inner--text">
                      Volver Carrito
                  </span>
                </button>
              </div>

              <div class="col-md-5 col-md-offset-12 col-sm-12 col d-flex justify-content-center align-self-center m-3">
                <button type="button" class="btn btn-lg btn-block btn-neutral" (click)="enviarPedido()">
                  <span class="btn-inner--text">
                      Enviar Pedido
                  </span>
                </button>
              </div>

            </div>
            </div>
           </ng-template> 
          
      </ng-sidebar>


      <div ng-sidebar-content>
           <!-- Page content -->
           <div class="ml-4 mr-4 mt-1 pb-5">
            <div class="row">
          
            <!-- Productos -->
            <div class="col-lg-9 col-md-6" id="div_productos">
              <h1 class="display-6">Menú</h1>

              <div class="col-12 col-md-12 col-sm-12">
                <input type="text" (keyup)="filtros()" class="form-control" placeholder="Buscar producto o categoria"
                       [(ngModel)]="busquedaProductos">
              </div>
        
              <div *ngFor="let categoria of categorias">
                <div *ngIf="categoria.id !== 0">
                  <h1 class="display-6">{{categoria.nombre}}</h1>
                  <hr class="mt-0">
                  
                  <div class="row" *ngIf="categoria.id !== 18">
                    <div style="padding-right: 25px; padding-left: 25px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3" *ngFor="let producto of categoria.productos; index as i">
                      <div class="row h-75" (click)="abrirModales(modalPromocion, producto)" style="cursor: pointer;">
                          <div class="col-4 align-self-center">
                            <img src="https://tuorden.com.co/web/image_producto/img-small-{{producto.id}}.jpeg" onError="this.src='https://tuorden.com.co/web/image_producto/img-small-49.jpeg'" height="100%" width="100%" alt="{{producto.nombre}}">
                            <span *ngIf="producto.descuento > 0" class="badge badge-danger texto-encima-prod">
                              - {{producto.descuento}} %
                            </span>
                          </div>
                         
                          <div class="col-8">
                            <h2 *ngIf="producto.descuento <= 0" >{{producto.nombre}} ({{ producto.valor | currency: 'COP':'$':'1.0' }})</h2>
                            <h2 *ngIf="producto.descuento > 0" >{{producto.nombre}}</h2>
                            <p class="text-justify">{{producto.descripcion}}</p> 
                            <div *ngIf="producto.descuento > 0">
                              <h4 style="color: grey;"><del>Antes {{ producto.valor_anterior | currency: 'COP':'$':'1.0' }}</del></h4>
                              <h4>Ahora {{ producto.valor | currency: 'COP':'$':'1.0' }}</h4>
                            </div>
                           
                            
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-12 text-right">
                          <button type="button" (click)="abrirModales(modalPromocion, producto)" class="btn btn-primary bg-gradient-warning">Agregar</button>
                        </div>
                      </div>
                      <hr class="mt-2 mb-2">
                    </div>
                  </div>
        
                  <div class="row" *ngIf="categoria.id === 18">
                    <div class="col-4 mb-2" *ngFor="let producto of categoria.productos; index as i">
                      <div class="contenido"(click)="abrirModales(modalPromocion, producto)">
                        <div class="card border-0">
                          <img src="https://tuorden.com.co/web/image_producto/img-small-{{producto.id}}.jpeg" onError="this.src='https://tuorden.com.co/web/image_producto/img-small-49.jpeg'" class="card-img-top" alt="{{producto.nombre}}">
                        </div>
                        <span *ngIf="producto.descuento > 0" class="badge badge-danger texto-encima">
                              - {{producto.descuento}} %
                        </span>
                      </div>
                    </div> 
                  </div>
        
                </div>
              </div>
                
            </div>
            <!-- Fin Productos -->

            <!-- Categorias -->
            <div class="col-lg-3 col-md-6" id="div_categorias">
              <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5 p-0">
                  <div class="contenido" style="width: 100% !important;">
                    <img src="https://tuorden.com.co/web/image_proveedor/app/img-{{proveedorId}}.jpeg" height="180px" width="100%" class="card-img-top" alt="Vegetariano Roll">
                    <img src="https://tuorden.com.co/web/image_proveedor/img-big-{{proveedorId}}.png" class="card-img-top imagen_redonda centrado" alt="Vegetariano Roll">  
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item list-group-item-action" (click)="mostrarProductos(categoria)" *ngFor="let categoria of categorias; index as i">{{categoria.nombre}}</li>
                </ul>
              </div>
            </div>
            <!-- Fin Categorias -->
            
            </div>
          </div>
      </div>

  </ng-sidebar-container>
</div>

<ng-template #modalPromocion let-modalPromocion>
  <div class="text-center titulo_padding pb-0">
      <h1 class="modal-title">{{productoSeleccionado.nombre}}</h1>
      <hr class="mt-1 mb-0">
  </div>

  <div class="modal-body padding_body_promocion">
      
    <div class="row" *ngIf="productoSeleccionado.grupo_extras.length == 0">
          <div class="col-md-4 col-md-offset-4 col-sm-4 align-self-center">
            <img src="https://tuorden.com.co/web/image_producto/img-small-{{productoSeleccionado.id}}.jpeg" height="100%" width="100%" alt="{{productoSeleccionado.nombre}}">
          </div>
          <div class="col-md-4 col-md-offset-4 col-sm-4">
            <p class="text-justify">{{productoSeleccionado.descripcion}}</p> 
          </div>
          <div class="col-md-4 col-md-offset-4 col-sm-4 col d-flex justify-content-center align-self-center">
            <table>
              <tbody>
                <tr>
                  <td class="text-center">
                      <button class="btn btn-primary btn-res" (click)="restarCantidad()">
                        -
                      </button>
                  </td>
                  <td align="center" valign="center" style="width: 43px">
                      <strong>
                        {{productoSeleccionado.cantidad}}
                      </strong>
                  </td>
                  <td>
                      <button class="btn btn-primary btn-sum" (click)="sumarCantidad()"> 
                        +
                      </button>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" align="center" valign="center">
                    <h3>
                      <b>
                        {{productoSeleccionado.total | currency: 'COP':'$':'1.0'}}
                        </b>
                    </h3>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
     </div>

      <div class="row" *ngIf="productoSeleccionado.grupo_extras.length > 0">
        <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-center align-self-center mb-3">
            <small>{{productoSeleccionado.descripcion}}</small>
        </div>

        <div class="col-6 col-md-6 col-sm-6 mb-1 justify-content-center align-self-center text-center">
          <img class="mb-2" src="https://tuorden.com.co/web/image_producto/img-small-{{productoSeleccionado.id}}.jpeg" height="70%" width="70%" alt="{{productoSeleccionado.nombre}}"><br>
              
          <small>
            <table style="margin: 0 auto !important;">
              <tbody>
                <tr>
                  <td class="text-center">
                      <button class="btn btn-primary btn-res" (click)="restarCantidad()">
                        -
                      </button>
                  </td>
                  <td align="center" valign="center" style="width: 43px">
                      <strong>
                        {{productoSeleccionado.cantidad}}
                      </strong>
                  </td>
                  <td>
                      <button class="btn btn-primary btn-sum" (click)="sumarCantidad()">
                        +
                      </button>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" align="center" valign="center">
                    <h3>
                      <b>
                        {{productoSeleccionado.total | currency: 'COP':'$':'1.0' }}
                        </b>
                    </h3>
                  </td>
                </tr>
              </tbody>
            </table>
          </small>
        </div>

        <div class="col-6 col-md-6 col-sm-6 mb-1" [style.height.px]="funciones.obtenerHeight(312)" style="overflow-x: hidden">
          <div *ngFor="let grupo_extra of productoSeleccionado.grupo_extras; index as i">
            <div class="row background_grupo">
                <div class="col-8 col-sm-8 col-md-8">
                  <label>{{ grupo_extra.nombre}} </label>
                </div>
  
                <div class="col-4 col-sm-4 col-md-4" style="text-align: end;">
                  <span class="badge badge-pill badge-danger" style="color: white;">{{ (grupo_extra.tipo === 1) ? "Obligatiorio" : ""}}</span>
                </div>
            </div>
            
            <div class="row" *ngFor="let extra of grupo_extra.extras; index as j">
                
              <label for="{{extra.id}}" class="col-9 col-md-8 col-sm-8">{{extra.nombre }}
              </label>
  
              <div class="col-3 col-md-4 col-sm-4" style="text-align: end;" *ngIf="grupo_extra.tipo == 1">
                {{(extra.valor == 0)  ? '' : (extra.valor | currency: 'COP':'$':'1.0') }}
                  <input type="radio" id="{{extra.id}}" [(ngModel)]="extrasSeleccionados[i]" name="radio_extra_{{grupo_extra.id}}" [value]="extra" (change)="setearGrupoExtra(grupo_extra, extrasSeleccionados[i])">
              </div>
  
              <div  class="col-3 col-md-4 col-sm-4" style="text-align: end;" *ngIf="grupo_extra.tipo == 2">
                <div class="form-check">
                    {{(extra.valor == 0)  ? '' : (extra.valor | currency: 'COP':'$':'1.0') }}
                    <input type="checkbox" id="{{extra.id}}" [(ngModel)]="extrasSeleccionados[i][j].seleccionado" name="radio_extra_{{extra.id}}" (change)="setearGrupoExtra(grupo_extra, extrasSeleccionados[i][j])"> 
                </div> 
              </div>
            </div>
          </div>
        </div>  
      </div>    
  </div>
  <div class="modal-footer">
      <button *ngIf="usuario != null" type="button" class="btn btn-success" (click)="agregarProductoCarrito(modalPromocion)" [disabled]="validarAgregarCarrito()"> 
      Agregar </button>
      <button *ngIf="usuario == null" type="button" class="btn btn-danger" (click)="abrirModalLogin()"> 
      Login </button>
      <button type="button" (click)="modalPromocion.close()" class="btn btn-primary" ngbAutofocus>Cerrar
      </button>
  </div>
</ng-template>


<ng-template #modalTarjetas let-modalTarjetas>
  
  <div class="modal-body no_padding">
    <div class="header color_principal py-5 py-5">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
              <div class="text-right">
                <button class="btn btn-lg btn-icon btn-close" (click)="modalTarjetas.close()">
                  <span class="btn-inner--icon">
                      <i class="far fa-times-circle fa-2x" style="color: white;"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="card bg-secondary shadow border-0">
            
            <div class="card-header bg-transparent pb-2">
                <b>Tarjetas Usuario</b>
            </div>
            <div class="card-body px-lg-5 py-lg-5 no_padding">
              <div class="list-group" [style.height.px]="funciones.obtenerHeight(389)" style="overflow-x: hidden">
                <ul class="list-group-item btn_seleccionar" *ngFor="let tarjeta of tarjetasUsuario">
                  <div class="row">
                    <div class="col-1" (click)="seleccionarTarjeta(tarjeta, modalTarjetas)">
                      <i class="fas fa-check-circle btn_seleccionar">
                      </i>
                    </div>

                    <div class="col-10" (click)="seleccionarTarjeta(tarjeta, modalTarjetas)">
                      <div class="row justify-content-center align-items-center">
                            <div class="col-4 text-center">
                              <img src="http://tuorden.com.co/dashboard/img/{{tarjeta.franquicia}}.png" height="80%" width="45%">
                            </div>

                            <div class="col-8">
                              **** **** **** {{tarjeta.ultimos_digitos}} <br>
                            </div>
                      </div>
                     
                    </div>

                    <div class="col-1">
                      <i class="fas fa-trash btn_eliminar" (click)="eliminarTarjeta(tarjeta)">

                      </i>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
    
            </div>
    
            
          </div>
          
      </div>
    </div>
  </div>
  <div class="modal-footer content_text">
    <button type="button" (click)="abrirModal(modalTarjeta, modalTarjetas, 'tarjeta')" class="btn btn-sm btn-primary">
      Nueva Tarjeta
    </button>
  </div>
</ng-template>

<ng-template #modalTarjeta let-modalTarjeta>
  
  <div class="modal-body no_padding">
    <div class="header color_principal py-5 py-5">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
              <div class="text-right">
                <button class="btn btn-lg btn-icon btn-close" (click)="modalTarjeta.close()">
                  <span class="btn-inner--icon">
                      <i class="far fa-times-circle fa-2x" style="color: white;"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-2">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="card bg-secondary shadow border-0">

            <div class="card-header bg-transparent pb-2">
              <div class="row">
              
                <div class="col-1">
                  <button class="quitar_boton text-left" (click)="volverAtrasTarjeta(modalTarjeta, modalTarjetas)">
                    <i class="fas fa-chevron-left"></i>
                  </button>
                </div>
                <h3 class="justify-content-center">Nueva Tarjeta</h3>
            </div>
          </div>

          <div class="card-body px-lg-5 py-lg-5">
              <div class="row" [formGroup]="form_creacion_tarjeta">
                <div class="col-md-12 col-md-offset-2 col-sm-12 mb-3" >
                  <label>Tipo Documento <a style="color: red;"> * </a>
                    <span *ngIf="getError('tipo_documento', form_creacion_tarjeta)" class="error requerido">
                            ( Diligenciar Tipo Documento)
                        </span>
                </label>
                  <angular2-multiselect [data]="tipo_documentos"
                                        formControlName = "tipo_documento"
                                        [settings]="configuracionSelect">
                  </angular2-multiselect>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12">
                    <label>Documento <a style="color: red;"> * </a>
                        <span *ngIf="getError('documento', form_creacion_tarjeta)" class="error requerido">
                                ( Diligenciar Documento )
                            </span>
                    </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="nombre_grupo_span">
                                <i class="fa fa-marker" style="color: seagreen"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Documento" name="documento"
                              id="documento" aria-label="Documento" aria-describedby="Documento"
                              formControlName="documento">
                    </div>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12">
                  <label>Número Tarjeta <a style="color: red;"> * </a>
                      <span *ngIf="getError('numero', form_creacion_tarjeta)" class="error requerido">
                              ( Diligenciar Número Tarjeta )
                          </span>
                  </label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="nombre_grupo_span">
                              <i class="fa fa-card" style="color: seagreen"></i>
                          </span>
                      </div>
                      <input type="number" class="form-control" placeholder="Número Tarjeta" name="numero"
                            id="numero" aria-label="numero" aria-describedby="Numero"
                            formControlName="numero">
                  </div>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12">
                  <label>Fecha Expiración<a style="color: red;"> * </a>
                      <span *ngIf="getError('fecha_expiracion', form_creacion_tarjeta)" class="error requerido">
                              ( Diligenciar Fecha Expiración )
                          </span>
                  </label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="nombre_grupo_span">
                              <i class="fa fa-card" style="color: seagreen"></i>
                          </span>
                      </div>
                      <input type="text" class="form-control" placeholder="MM/YY" (keyup)="validarFormatoFecha($event)" name="cvv"
                            id="fecha_expiracion" aria-label="fecha_expiracion" maxlength=7 aria-describedby="Fecha Expiración"
                            formControlName="fecha_expiracion">
                  </div>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12">
                  <label>Código de Seguridad<a style="color: red;"> * </a>
                      <span *ngIf="getError('cvv', form_creacion_tarjeta)" class="error requerido">
                              ( Diligenciar Código de Seguridad )
                          </span>
                  </label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="nombre_grupo_span">
                              <i class="fa fa-card" style="color: seagreen"></i>
                          </span>
                      </div>
                      <input type="number" class="form-control" placeholder="Código de Seguridad" name="cvv"
                            id="cvv" aria-label="cvv" aria-describedby="Código de Seguridad"
                            formControlName="cvv">
                  </div>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12 mb-3" >
                  <label>Nombre <a style="color: red;"> * </a>
                      <span *ngIf="getError('nombre', form_creacion_tarjeta)" class="error requerido">
                              ( Diligenciar Nombre )
                          </span>
                  </label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="nombre_grupo_span">
                              <i class="fas fa-signature" style="color: seagreen"></i>
                          </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Nombre" name="nombre"
                            id="nombre" aria-label="Nombre" aria-describedby="Nombre"
                            formControlName="nombre">
                  </div>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12 mb-3" >
                  <label>Apellido <a style="color: red;"> * </a>
                      <span *ngIf="getError('apellido', form_creacion_tarjeta)" class="error requerido">
                              ( Diligenciar Apellido )
                          </span>
                  </label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="nombre_grupo_span">
                              <i class="fas fa-signature" style="color: seagreen"></i>
                          </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Apellido" name="apellido"
                            id="apellido" aria-label="Apellido" aria-describedby="Apellido"
                            formControlName="apellido">
                  </div>
                </div>

                <div class="col-md-12 col-md-offset-2 col-sm-12 mb-3" >
                  <label>Correo <a style="color: red;"> * </a>
                      <span *ngIf="getError('correo', form_creacion_tarjeta)" class="error requerido">
                              ( Diligenciar Correo )
                          </span>
                  </label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="nombre_grupo_span">
                              <i class="fas fa-signature" style="color: seagreen"></i>
                          </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Correo" name="correo"
                            id="correo" aria-label="Correo" aria-describedby="Correo"
                            formControlName="correo">
                  </div>
                </div>
                
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer content_text pt-0">
      <button type="button" (click)="guardarTarjeta(modalTarjeta, modalTarjetas)" class="btn btn-sm btn-primary" [disabled]="form_creacion_tarjeta.invalid">
        Guardar
      </button>
  </div>
</ng-template>