.imagen_redonda{
    width:100px;
    height:100px;
    border-radius:150px;
}

.contenido{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto-encima{
    position: absolute;
    top: 10px;
    left: -20px;
}

.texto-encima-prod{
    position: absolute;
    top: 10px;
    left: 0px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

.titulo_padding{
    padding: 20px;
}

::ng-deep aside {
    background-color:white;
    width: 50%;
    height: 100%;
  }

.div_ctn {
    box-shadow:  0 -5px 10px 0 rgba(128,98,96,.16);
}
 
.tu_pago_estilo{
    color: white;
    border-radius: 30px;
}

.color_principal{
    background: #ff0000;
}

.no_padding{
    padding: 0 !important;
}

.quitar_boton{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.verificado {
    color: greenyellow;
}

.btn_seleccionar:hover{
    color: rgb(30, 173, 75);
}

.btn-close {
    background: #dadada00;
}

#div_productos{
    order: 1;
}

#div_categorias{
    order: 2;
}

.btn_eliminar:hover{
    color: rgb(252, 50, 50);
}

@media screen and (max-width: 768px) {
    #div_productos{
        order: 2;
    }
    
    #div_categorias{
        order: 1;
    }    
    
    ::ng-deep aside {
        background-color:white;
        width: 100%;
      }
}

.background_grupo {
    background-color: #dad3d3;
    color: red;
}

.padding_body_promocion {
    padding-left: 15px;
    padding-right: 15px;
}